.Forecast {
  margin-bottom: 0px;
  margin-left: -25px;
  margin-right: -25px;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1px;
}

.ForecastElement {
  display: block;
  margin: 0 auto;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #6c767d;
}

.ForecastTemp {
  font-size: 17px;
  font-weight: bolder;
}

h6.ForecastTitel {
  margin-bottom: 5px;
  margin-top: 30px;
  letter-spacing: 1px;
  word-spacing: 3px;
  font-weight: bolder;
}
