.Forecast {
  font-family: "MuseoModerno", cursive;
  margin-bottom: 0px;
  margin-left: -25px;
  margin-right: -25px;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1px;
}

.ForecastElement {
  display: block;
  margin: 0 auto;
}

.ForecastTemp {
  font-size: 17px;
  color: #687a92;
}

h6.ForecastTitel {
  margin-bottom: 0px;
  margin-top: 30px;
  letter-spacing: 1px;
  word-spacing: 3px;
  font-weight: bold;
}
