.Units {
  font-size: 15px;
  position: relative;
  top: -20px;
}

h1 {
  font-size: 50px;
  margin-left: 10px;
}

.WeatherIcon {
  font-size: 45px;
  position: relative;
  top: 15px;
  left: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

img {
  max-width: 80px;
  position: relative;
  top: 15px;
  left: -40px;
}
