@import url("https://fonts.googleapis.com/css2?family=Muli:wght@600&family=MuseoModerno:wght@300&display=swap");

.Weather {
  border: 1px solid #6c767d;
  max-width: 400px;
  padding: 15px 25px;
}

.Weather .Details {
  font-size: 19px;
  color: #b240ff;
}

.Weather h3,
h6,
h1 {
  text-align: center;
  font-family: "MuseoModerno", cursive;
}

.Weather h3 {
  margin-top: 10px;
}

.Weather h6 {
  color: #b240ff;
  margin-bottom: 30px;
}

.Weather img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  margin-bottom: 35px;
}

.Weather .Units {
  font-size: 15px;
  position: absolute;
  left: 73px;
}

.Weather h1 {
  font-size: 70px;
  font-weight: lighter;
  position: absolute;
  left: 80px;
  padding-right: 40px;
}

.Weather ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  font-weight: lighter;
  font-size: 15px;
  font-family: "MuseoModerno", cursive;
  position: absolute;
  right: 65px;
  top: -5px;
}

.Form {
  max-width: 400px;
  font-family: "MuseoModerno", cursive;
  margin-top: 10px;
}
