.Units {
  font-size: 15px;
  position: relative;
  top: -45px;
}
.Details {
  font-size: 19px;
}
h3,
h6,
h1 {
  text-align: center;
}

.WeatherIcon {
  font-size: 45px;
  position: relative;
  top: 15px;
  left: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: lighter;
  position: relative;
  left: 176px;
  top: -60px;
  font-size: 15px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  margin-bottom: 15px;
}

h1 {
  font-size: 70px;
  font-weight: lighter;
}
.Details {
  position: relative;
  left: 5px;
  top: 2px;
  border-bottom: 1px solid black;
  padding-right: 45px;
}
p {
  font-weight: lighter;
  font-size: 13px;
}

.Weather {
  border: 1px solid black;
  max-width: 400px;
  margin: 0;
  padding: 15px 25px;
}

.Form {
  max-width: 400px;
}
